/* Document Reset */
* {
  box-sizing: border-box;
  margin: 0;
}
/* End Document Reset */

/* Section: About me */
.portfolio-image-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.portfolio-image {
  margin-top: 50px;
  border-radius: 30px;
  max-width: 500px;
}

.portfolio-name-text {
  position: absolute;
  top: 80%;
  color: white;
  font-size: 3.5rem;
}

.about-me-container {
  margin: 0 auto;
  max-width: 800px;
}

.about-me-title {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0;
}

.about-me-text {
  font-size: 1.5rem;
  margin: 0 30px;
}

.socials-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  max-width: 250px;
}

.social-icon {
  /* margin: 30px; */
  width: 30px;
}
/* End Section: About me */
