* {
  box-sizing: border-box;
  margin: 0;
}

.social-icon {
  width: 20px;
}

.portfolio-image-container {
  /* margin: 20px; */
  display: flex;
  justify-content: center;
}

.portfolio-picture {
  position: relative;
}

.portfolio-name-text {
  position: absolute;
  top: 0;
  right: 0;
}

/* .name-text {
  transform: translateX(50%);
  color: white;
  position: fixed;
  top: 75%;
  right: 50%;
  font-size: 3.2em;
  text-wrap: nowrap;
} */
